body {
  background-color: #222;
  text-align: center;
}

#heading {
  color: #61dbfb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

h2, a {
  color: #61dbfb;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 600;
}